.container {
  width: 100%;
  min-width: 320px;
  height: 100%;
}

.background {
  background-image: linear-gradient(
      15deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.6) 31%,
      rgba(0, 0, 0, 0.6) 42%,
      rgba(0, 0, 0, 0.2) 91%
    ),
    url(../../backgraund.jpg);
  background-position: center;
  background-size: cover;
  min-width: 320px;
  height: 100vh;
}

.text {
  max-width: 90vw;
  display: flex;
  gap: 30px;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.btns {
  display: flex;
  gap: 12px;
}

.main,
.btn,
.poem {
  width: fit-content;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.3) 0%,
    rgba(0, 0, 0, 0.3) 100%
  );
  padding: 15px;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 400;
  border-radius: 12px;
  border: 2px solid rgba(255, 255, 255, 0.2);
}

.main {
  margin-top: 44vh;
  font-size: 20px;
  line-height: 1.5rem;
}

.btn {
  text-transform: uppercase;
  text-align: center;
  min-width: 70px;
  border-width: 2px;
  transition: all linear 300ms;
}

.btn:hover {
  cursor: pointer;
}

.poem {
  margin-top: 46vh;
  text-align: center;
  font-weight: 300;
  font-size: 24px;
  line-height: 2.2rem;
  padding: 30px;
}
